{
  "presets": [
    "minify",
    ["@babel/env", {
      "targets": {
        "browsers": [
          "last 5 versions",
          "ie >= 8"
        ]
      }
    }],
    "@babel/typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties","@babel/plugin-transform-typescript"]
}